@font-face {
  font-family: 'CustomFont';
  src: url(./fonts/normal.ttf) format('truetype');
}

@font-face {
  font-family: 'CustomFont2';
  src: url(./fonts/brad.ttf) format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars */
  width: 100vw;
  height: 100vh;
}

 body {
  margin: 0;
  overflow: hidden;
  background-color: #a7a86e;
}

/* Scrolling container: Contains two images side by side */
.scrolling-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%; /*Double view for 2 images */
  height: 100vh; 
  display: flex; 
  animation: scroll 10s linear infinite; /* Scroll animation */
}

/* Scrolling image: Each div holds the same image */
.scrolling-image {
  width: 100vw; 
  height: 100vh; 
  background-image: url(./images/title.png); 
  filter: saturate(75%); /* Reduces saturation to 50% */
}

.foreground-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #e96ce3;
  font-family: Arial, sans-serif;
  text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.7);
  -webkit-text-stroke: 3.5px black; /* Outline with 2px width and black color */
  text-stroke: 3.5px black; /* For compatibility with non-WebKit browsers */
}

.foreground-text h1 {
  font-family: 'CustomFont', Arial, sans-serif;
  font-size: 6rem;
  margin: 0;
}

.foreground-text p {
  font-family: 'CustomFont', Arial, sans-serif;
  font-size: 5rem;
  margin: 10px 0 0;
}

.playButton {
  position: absolute;
  top: 60%;
  left: 15%;
}

.playButton, .helpButton, button {
  border:solid;
  border-radius: 3cm;
  border-color: #c2783c;
  width: 500px;
  height: 250px;
  font-size: 6rem;
  color:#6eaa5e;
  font-family: 'CustomFont2', Arial, sans-serif;
  background-color:  #8B008B
}

.playButton, .helpButton, button:hover {
  box-shadow: 0 0px 10px 0 #63b199;
  background-color:  #c23ac2;
  color: #84a77b;
}

.helpButton {
  position: absolute;
  top: 60%;
  left: 60%;
}

/* Keyframes for infinite scroll */
@keyframes scroll {
  from {
    transform: translateX(0); /* Start at 0 */
  }
  to {
    transform: translateX(-50%); /*Move to the end of the images */
  }
}